<div class="bootstrap-wrapper">
    <div class="contianer">
        <div class="col-md-4 offset-md-4 mt20">
            <mat-card *ngIf="!otpVerified">
                <mat-card-header>
                    <mat-card-title>Forgotten Password</mat-card-title>
                    <mat-card-subtitle>Please enter your username and registered mail is to reset the password</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <form >
                        <br>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input 
                               [(ngModel)]="user.username"
                                name="username" 
                                required
                                matInput 
                                placeholder="Enter here">
                            
                        </mat-form-field>

                        <!-- Resquest user to the registered mail id -->
                        <mat-form-field class="full-width" appearance="outline" *ngIf="!otpSentStatus">
                            <mat-label>Email Address</mat-label>
                            <input [(ngModel)]="user.email" name="email" matInput placeholder="abcd@example.com"
                                [formaction]="email">
                            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>

                        <div class="containe text-center" *ngIf="!otpSentStatus">
                            <button mat-raised-button color="primary" (click)="SentOTP()">Get OTP</button>
                        </div>

                        <!-- Request user to enter the OTP sent to the user registered mail id -->
                        <mat-form-field class="full-width" appearance="outline" *ngIf="otpSentStatus">
                            <mat-label>Enter the OTP</mat-label>
                            <input [(ngModel)]="otp" name="phome" type="number" matInput placeholder="Enter here">
                        </mat-form-field>

                        <div class="containe text-center" *ngIf="otpSentStatus">
                            <button mat-raised-button color="primary" (click)="VerfiyOTP()">Verify</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

            <mat-card  *ngIf="otpVerified">
                <mat-card-header>
                    <mat-card-title>Set new Password</mat-card-title>
                    <mat-card-subtitle>Please set a new password</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <form>
                        <br>
                        <!-- password  -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input [(ngModel)]="user.password" name="password" matInput
                                [type]="hide ? 'password' : 'text'">
                        </mat-form-field>

                        <div class="containe text-center" *ngIf="otpSentStatus">
                            <button mat-raised-button color="primary" (click)="ChangePassword()">Change
                                password</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>